.products-container {
  padding-top: 5rem;
  padding-left: 15%;
  width: 100vw;
  gap: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.products-grid-item {
  grid-column-start: 1;
  grid-row-start: 1;
}

.card-price-text {
  font-size: 1.2rem;
  font-weight: 500;
}
