.page-content-container {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.products-container {
  width: 80vw;
  height: fit-content;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-badge {
  padding-right: 1rem;
}
